@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=M+PLUS+Rounded+1c&family=Roboto+Slab:wght@100..900&display=swap');

h1, h2, h3, h4, h5, h6, .dynamicLink p, .titleBox p, .headerLabel{
    font-family: "Libre Baskerville";
}

header a, footer p{
    font-family: "Roboto Slab";
}

.infoBox p, .statBox p, form input[type="submit"], .radioLabel{
    font-family: "M PLUS Rounded 1c";
}