@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

h1, .titleBox p{
    font-family: "Libre Baskerville", "Times New Roman", Times, serif
}

header a, footer p{
    font-family: "Roboto Slab", Georgia, serif;
}

.infoBox p{
    font-family: "Nunito", "Trebuchet MS", Helvetica, sans-serif;
}

:root{
    --text-col: #ffffff;
}

@media (max-width: 700px){
    #dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    select{
        background-color: #444;
        padding: 20px 0px 20px 15px;
        font-size: 24px;
        width: calc(100% - 60px);
        outline: none;
        color: white;
        border: none;
        margin-bottom: 30px;
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,7" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: right 15px center;
        -webkit-appearance: none; /* Remove default dropdown arrow in WebKit browsers */
        -moz-appearance: none; /* Remove default dropdown arrow in Firefox */
        appearance: none; /* Remove default dropdown arrow in other browsers */
    }

    .titleBox img{
        height: 40px;
    }

    .titleBox p{
        font-size: 24px;
    }

    .infoBox{
        font-size: 16px;
    }

    .infoText{
        height: 640px;
    }

    .infoBox{
        height: 530px;
    }
}

@media (min-width: 700px){
    #dropdown{
        display: none;
    }

    .titleBox img{
        height: 70px;
    }

    .titleBox p{
        font-size: 36px;
    }

    .infoBox{
        font-size: 20px;
    }

    .infoText{
        height: 470px;
    }

    .infoBox{
        height: 330px;
    }
}

@media (min-width: 700px) and (max-width: 1300px) {
    .infoRow{
        display: block;
    }
}

@media (max-width: 1300px){
    .infoRow{
        margin: 0 auto 80px;
        max-width: 750px;
        width: calc(100% - 60px);
    }

    .infoImage{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1300px){
    .infoRow{
        display: grid;
        grid-template-columns: 350px 250px 1fr 250px 350px;
        grid-template-rows: 870px;
        margin-right: 40px;
        margin-left: 40px;
        position: relative;
        place-items: center;
    }
    
    .infoRow:nth-of-type(even) .infoText{
        grid-column: 1 / 3;
    }
    
    .infoRow:nth-of-type(odd) .infoText{
        grid-column: 4 / 6;
    }
    
    .infoRow:nth-of-type(even) picture{
        grid-column: 2 / 6;
    }
    
    .infoRow:nth-of-type(odd) picture{
        grid-column: 1 / 5;
    }

    main picture{
        z-index: 1;
        position: absolute;
    }

    .infoImage{
        width: 100%;
        height: auto;
    }

    .infoText{
        width: 100%;
        height: 570px;
        z-index: 2;
        position: relative;
    }

    .infoBox{
        height: 430px;
    }
}

.titleBox{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    transition: transform 0.3s ease;
    text-align: center;
}

.titleBox img{
    align-self: center;
    filter: invert(100%) sepia(5%) saturate(309%) hue-rotate(304deg) brightness(116%) contrast(87%);
    margin-left: 10px;
    margin-right: 10px;
}

.titleBox p{
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #eeeeee;
}

.infoBox{
    color: var(--text-col);
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

/* For Webkit-based browsers */
.infoBox::-webkit-scrollbar{
    width: 12px;
}

.infoBox::-webkit-scrollbar-track{
    background: #f1f1f1;
}

.infoBox::-webkit-scrollbar-thumb{
    background: var(--box-color);
    border-radius: 6px;
}

.infoBox::-webkit-scrollbar-thumb:hover{
    background: #111;
}

/* For Firefox */
.infoBox{
    scrollbar-width: thin;
    scrollbar-color: var(--box-color);
}

.quote{
    font-style: italic;
}