body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #111;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
}

header img{
    width: 70px;
}

#headerWE{
    color: #dd0000;
}

#headerWE img{
    filter: invert(13%) sepia(68%) saturate(6888%) hue-rotate(358deg) brightness(84%) contrast(117%);
}

#headerDG{
    color: #00dd00;
}

#headerDG img{
    filter: invert(41%) sepia(80%) saturate(1330%) hue-rotate(88deg) brightness(115%) contrast(113%);
}

#headerTS{
    color: #0000dd;
}

#headerTS img{
    filter: invert(13%) sepia(100%) saturate(4578%) hue-rotate(240deg) brightness(77%) contrast(134%);
}

h1{
    margin-top: 20px;
    text-shadow: 0 0 5px gold;
    padding: 20px;
    font-size: 48px;
}

h2{
    font-size: 30px;
    color: white;
}

h3{
    color: white;
}

#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

#availableListFrame, #userListFrame{
    padding: 20px;
    border: 3px solid gold;
}

#availableList, #userList{
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}

#userList div:not(:has(article)){
    display: none;
}

main img{
    width: 100px;
    border: 2px solid gold;
}

article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bbbbbb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

article h3, article h4{
    margin-right: 10px;
    margin-left: 10px;
}

article input{
    font-size: 30px;
    padding: 15px;
    margin-right: 15px;
    border: 2px solid gold;
    text-align: right;
    transition: transform 0.3s ease;
}

#availableList article input:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px green;
}

#userList article input:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px red;
}