#divAC{
    background-color: #FFD70055;
}

#divUM{
    background-color: #0437F255;
}

#divDA{
    background-color: #00522155;
}

#divBA{
    background-color: #9a111555;
}

#divSW{
    background-color: #4871a755;
}

#divIK{
    background-color: #2d416455;
}

#divWE{
    background-color: #f82a0e55;
}

#divDG{
    background-color: #9db92c55;
}

#divTS{
    background-color: #601EF955;
}

#divCK{
    background-color: #8a8a8a55;
}

#divN{
    background-color:  #92612f55;
}

.divLock img{
    filter: invert(24%) sepia(25%) saturate(0%) hue-rotate(201deg) brightness(104%) contrast(100%);
}

.divLock{
    background-color: #222222;
}