#mainInfoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container:nth-of-type(odd) {
    grid-column: 1 / 2;
}

.container:nth-of-type(even) {
    grid-column: 3 / 4;
}

#mainInfoContainer img:nth-of-type(odd) {
    grid-column: 2 / 4;
}

#mainInfoContainer img:nth-of-type(even) {
    grid-column: 1 / 3;
}



.container{
    width: 500px;
    margin: 20px;
    padding: 20px;
}

.titleBox{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.titleBox img{
    height: 70px;
    align-self: center;
    filter: invert(100%) sepia(5%) saturate(309%) hue-rotate(304deg) brightness(116%) contrast(87%);
}

.titleBox p{
    font-size: 36px;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #eeeeee;
}

.infoBox{
    font-size: 20px;
    color: white;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.quote{
    font-style: italic;
}