body{
    background-color: #111;
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
}

#logo{
    grid-column: 1/2;
    margin: 20px;
    align-self: center;
    width: 100px;
    height: auto;
    transition: transform .5s;
}

#logo:hover{
    transform: scale(1.2);
}

header nav{
    grid-column: 2/3;
    display: flex;
}

header a{
    color: white;
    font-size: 48px;
    text-decoration: none;
    margin-right: 30px;
    align-self: center;
    transition: padding .5s ease;
}

header a:hover{
    padding-bottom: 20px;
}

.changing-image-container{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -140px;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    grid-column: 1/3;
    display: grid;
}

.changing-image{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.changing-image.active {
    opacity: 1;
}

main a{
    color: white;
}