@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4{
    font-family: "Lugrasimo", Helvetica, sans-serif;
}

@media screen and (max-width: 1000px) {

    main, #aboutMeCard{
        display: block;
        text-align: center;
    }

    h1{
        font-size: 30px;
    }
    
    nav a{
        font-size: 20px;
    }

    p{
        font-size: 20px;
    }

    nav{
        flex-direction: column;
    }

    nav a{
        text-align: center;
    }

    img{
        width: 300px;
        height: auto;
    }
}

@media screen and (min-width: 1000px) {

    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #aboutMeCard{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        font-size: 28px;
    }

    img{
        width: calc(100% - (20px * 2));;
        height: auto;
        object-fit: cover;
    }
}





p, a{
    font-family: "Montserrat", Helvetica, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #111111;
}

h1{
    background-color: #880088;
    color: #ffd1dc;
    text-align: center;
    padding: 20px;
    font-size: 48px;
    margin: 0;
}

#name{
    color: yellow;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #880044;
    margin-bottom: 30px;
}

nav a{
    color: #ffd1dc;
    font-size: 30px;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.5s ease, transform 0.5s ease;
}

nav a:hover {
    background-color: #ffd1dc;
    color: #880044;
    border-radius: 20px;
    transform: scale(1.2);
}

.card{
    margin: 20px;
    outline: 2px solid #ffd1dc;
    border-radius: 15px;
    padding-bottom: 20px;
}

h2{
    text-align: center;
    background-color: #880088;
    grid-column: 1/4;
    color: #ffd1dc;
    padding: 20px;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 15px 15px 0 0;
    font-size: 38px;
}

img{
    outline: 2px solid pink;
    margin-left: 20px;
    margin-right: 20px;
}

#meText{
    grid-column: 1/3;
    color: #ffd1dc;
    margin: 20px;
}

#mePic{
    grid-column: 3/4;
}    

h3{
    color: #ffd1dc;
    text-align: center;
    grid-column: 1/4;
    border-bottom: 2px solid #ffd1dc;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 10px;
    margin-top: 30px;
}

#flagDiv{
    margin-top: 20px;
    grid-column: 1/2;
}

#flagDiv p{
    text-align: center;
    color: #ffd1dc;
    font-style: italic;
    font-size: 22px;
}

#belText{
    grid-column: 2/4;
    color: #ffd1dc;
    margin: 20px;
}

ul{
    color: #ffd1dc;
    font-size: 32px;
    align-content: center;
    height: 75%;
    padding-left: 20%;
    padding-right: 20%;
}

li a{
    color: #ffd1dc;
    font-size: 26px;
    transition: transform 0.3s ease;
}

li a:hover{
    font-size: 32px;
}

li a:visited{
    color: #ffaaff;
    font-size: 26px;
}

footer{
    background-color: #880088;
    margin-top: 30px;
    padding: 20px;
}

footer p{
    text-align: center;
    margin: 0px;
}

#info{
    font-size: 22px;
    padding-bottom: 10px;
    color: #ffd1dc;
}

#lastModified{
    font-size: 16px;
    color: yellow;
}