@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, nav a{
    font-family: "Lugrasimo", Helvetica, sans-serif;
}

figcaption, #menu{
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #ffd1dc;
}

@media (max-width: 770px){

    header{
        display: flex;
        position: relative;
    }

    header.active{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    h1.headerTitle{
        display: block;
    }

    h1.hidden{
        display: none;
    }

    #menu{
        display: flex;
        font-size: 26px;
        font-weight: bold;
        justify-content: flex-end;
        margin-left: auto;
        position: relative;
        grid-row: 1/2;
        grid-row: 1/2;
    }
    
    #menu::before{
        content: "☰";
        position: absolute;
        right: 10px;
    }
    
    #menu.show::before{
        content: "X";
    }

    nav.navigation a{
        display: none;
    }

    nav.show{
        padding-bottom: 20px;
        padding-top: 20px;
        grid-row: 1/2;
        grid-row: 1/2;
    }

    nav.show a{
        display: block;
    }

    nav a{
        font-size: 26px;
        text-align: center;
        margin-left: 60px;
        margin-right: 20px;
    }
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #111111;
}

header{
    background-color: #880088;
    padding-right: 10px;
    padding-left: 10px;
}

h1{
    color: #ffd1dc;
    padding: 20px;
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

a{
    color: #ffd1dc;
    padding: 20px;
    margin: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.5s ease, transform 0.5s ease;
}

nav a:hover {
    background-color: #ffd1dc;
    color: #880044;
    border-radius: 20px;
}

h2{
    text-align: center;
    color: #ffd1dc;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 15px 15px 0 0;
    font-size: 26px;
}

div{
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    grid-gap: 25px;
    place-items: center;
}

div figure{
    background-color: #aaaaaa;
}

div img {
    width: 100%;
    height: auto; 
}

div figcaption {
    text-align: center;
    margin-top: 10px;
}

footer{
    background-color: #880088;
    margin-top: 30px;
    padding: 20px;
}

footer p{
    text-align: center;
    margin: 0px;
}

#info{
    font-size: 22px;
    padding-bottom: 10px;
    color: #ffd1dc;
}

#lastModified{
    font-size: 16px;
    color: yellow;
}